<header class="header">
  <div class="container d-md-flex px-0">
    <nav class="navbar navbar-top">
      <div class="container">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <svg
                class="icon mr-md-3"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 20.62"
              >
                <path
                  d="M11.49,18.29c.67,.65,.71,1.39,.14,1.96-.54,.54-1.23,.5-1.9-.15C6.69,17.22,3.66,14.33,.64,11.43c-.84-.81-.86-1.46-.02-2.26C3.66,6.26,6.71,3.35,9.77,.46c.6-.57,1.39-.6,1.87-.12,.56,.56,.52,1.32-.16,1.96-1.98,1.91-7.11,6.75-7.11,6.75,0,0,12.46,0,18.14,0,.93,0,1.38,.32,1.47,1.02,.11,.85-.35,1.42-1.25,1.48-.48,.03-18.36,0-18.36,0,0,0,6.07,5.71,7.11,6.73Z"
                />
              </svg>
              <span>My Offers</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <nav class="navbar navbar-bottom ml-md-auto">
      <div class="container">
        <ul class="navbar-nav w-100 flex-row nav-justified">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/offers">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M24,10.51H0V18H24ZM24,21H0v3H24ZM7.47,0H0V7.47H7.47ZM24,7.47H10.51V0H24Z"
                />
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.89 24">
                <path
                  d="M22.37,21H14.88v.07a2.93,2.93,0,0,1-5.86,0V21H1.86c-.75,0-1.41-.12-1.73-.9a1.64,1.64,0,0,1,.63-2A6.35,6.35,0,0,0,3,13.05c0-1.43,0-2.85,0-4.28a9,9,0,0,1,17.93-.71A52.62,52.62,0,0,1,21,13.39,6,6,0,0,0,23,18a2.26,2.26,0,0,1,.82,1.13A1.5,1.5,0,0,1,22.37,21Z"
                />
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0ZM6,12l0,0,0,0a0,0,0,0,1,0,0l0,0,0,0h0ZM6.13,18l0,0,0,0c1.44-2.87,2.16-5.86,4.1-7.81S15.11,7.45,17.87,6l0,0s0,0,0,0c-1.45,2.87-2.17,5.86-4.11,7.81S8.89,16.55,6.13,18ZM17.9,12h0l0,0h0l0,0Z"
                />
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 23.98">
                <path
                  d="M24,21.11V24H0V21.11c0-3.31,5.37-6,12-6S24,17.8,24,21.11ZM12,12A6,6,0,1,0,6,6,6,6,0,0,0,12,12Z"
                />
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.56 24">
                <path
                  d="M20.38,12a9.32,9.32,0,0,0-.17-1.77l2.35-2.6L21.11,5l-3.47.54A9.25,9.25,0,0,0,14,3.3L12.81,0H9.75L8.59,3.3A9.25,9.25,0,0,0,4.92,5.49L1.45,5,0,7.63l2.35,2.6a9.3,9.3,0,0,0,0,3.54L0,16.37l1.45,2.68,3.47-.55a9,9,0,0,0,3.67,2.19L9.75,24h3.06L14,20.69a9,9,0,0,0,3.67-2.19l3.47.55,1.45-2.68-2.35-2.6A9.32,9.32,0,0,0,20.38,12Zm-9.1,3a3,3,0,1,1,3-3A3,3,0,0,1,11.28,15Z"
                />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
