<div class="Offer-For">
  <div class="container">ICICI Bank Rubyx Visa Credit Card</div>
</div>
<div class="Offer-Content pb-4">
  <div class="container earnings-container">
    <div class="row">
      <div class="col col-sm-auto">
        <div class="card card--points cashback">
          <div class="card-body">
            <p class="card-text points-stats">
              <img
                alt
                class="points_icon"
                src="assets/icons/svg_icons/cashback_icon.svg"
              />
              <span>₹2,680</span>
            </p>
            <h6 class="card-subtitle">TOTAL CASHBACK EARNED</h6>
          </div>
        </div>
      </div>
      <div class="col col-sm-auto">
        <div class="card card--points rewards">
          <div class="card-body">
            <p class="card-text points-stats">
              <img
                alt
                class="points_icon"
                src="assets/icons/svg_icons/loyalty_icon.svg"
              />
              <span>Pt. 6,800</span>
            </p>
            <h6 class="card-subtitle">TOTAL Loyalty Points</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Offers-Cards pt-1">
    <div class="container">
      <article class="mt-3" *ngFor="let offerType of CouponData">
        <h2 class="offer-title">{{ offerType.category }}</h2>
        <div class="slider-wrapper">
          <swiper class="swiper--offers" [slidesPerView]="'auto'">
            <ng-template
              swiperSlide
              *ngFor="let offerCoupon of offerType.offers"
            >
              <div class="card card-offer">
                <img
                  [srcset]="offerCoupon.banner.imgSrcSet"
                  [src]="offerCoupon.banner.imgSrc"
                  class="card-img-top"
                  alt
                />
                <div class="card-body">
                  <div class="offer-speciality">
                    <img
                      class="offer-brand"
                      [srcset]="offerCoupon.brand.imgSrcSet"
                      [src]="offerCoupon.brand.imgSrc"
                      alt
                    />
                    <span class="offer-tag">
                      <img
                        class="icon"
                        src="/assets/icons/svg_icons/tag_icon.svg"
                        alt
                      />
                      {{ offerCoupon.discount.text }}
                    </span>
                  </div>
                  <h5 class="card-title">
                    {{ offerCoupon.title }}
                  </h5>
                  <p class="card-text">
                    {{ offerCoupon.text }}
                  </p>
                </div>
                <div class="card-footer">
                  <a
                    type="button"
                    class="btn btn-sm btn-outline-primary"
                    [routerLink]="['/offer-detail/', offerCoupon.id]"
                  >
                    Learn More
                  </a>
                  <a
                    type="button"
                    class="btn btn-sm btn-primary"
                    (click)="
                      claimCoupon(offerCoupon.id, offerType.categoryId);
                      openModal(offerClaimTemplate)
                    "
                    >Claim Offer</a
                  >
                </div>
              </div>
            </ng-template>
          </swiper>
        </div>
      </article>
    </div>
  </div>
</div>
<ng-template #offerClaimTemplate>
  <div class="modal-body" (click)="modalRef?.hide()">
    <div class="d-flex flex-nowrap justify-content-center">
      <img
        class="mr-3"
        src="/assets/icons/svg_icons/circle_check_filled.svg"
        alt
      />
      Offer Claimed Successfully
    </div>
  </div>
</ng-template>
